/* * ACCOUNT PAGE * */

.woocommerce {
    display: flex;
    flex-direction: column;

    h2 {
        text-align: center;
    }

    &-MyAccount-content {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: auto;

        @media (max-width: 768px) {
            width: 100%;
        }

        &>p {
            text-align: center;
        }
    }

    nav {

        ul {

            display: flex;
            flex-direction: row;
            justify-content: center;
            background: $aqua;
            padding: 1.5rem 0;
            margin: 0 0 1.5rem;
            list-style: none;
            width: 100%;

            @media (max-width: 768px) {
                padding: 1rem 0.5rem;
                align-items: center;
            }

            li {
                padding: 0 2rem;

                @media (max-width: 768px) {
                    /*padding: 0 2.5rem 0 0;
                    text-align: center;

                    &:last-child {
                        padding: 0;
                    }*/ 

                    &:not(.is-active) {
                        display: none;
                    }
                }

                a {
                    color: #fff;
                    font-weight: 500;
                }
            }
        }
    }
}

/*.woocommerce-form-login,
.woocommerce-form-register {
    width: auto;
    margin: 0 auto !important;
    border-color: $aqua !important;

    input:not(#rememberme) {
        padding: 0.5rem 1rem;
        border-radius: 0.75rem;
        border: 1px solid $aqua;
        background: #fff;
        width: 100%;
        box-sizing: border-box;
        transition: all 0.1s ease-in-out;

        &:focus {
            background: #ededed;
        }
    }

    .form-row:not(.form-row-wide) {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 1.25rem;
        justify-content: flex-end;
        margin-bottom: 1rem;
    }

    .form-row-wide {
        margin-bottom: 0.25rem;
    }

    label {
        padding: 0 1rem;
        margin-bottom: 0.75rem;
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.25rem !important;
    }

    button[type="submit"] {
        background: $aqua;
        color: #fff;
        font-weight: 500;
        border-radius: 0.75rem;
        display: block;
        padding: 0.75rem 3rem;
    }

    .woocommerce-form-login__rememberme {
        margin-bottom: 0;
        display: flex !important;
        align-items: center;

        span {
            margin-left: 0.5rem;
        }
    }

    .lost_password {
        a {
            color: #000;
            font-style: italic;
            font-size: 0.75rem;
        }
    }
}*/

.form-block {
    @media (max-width: 768px) {
        padding: 0 0.5rem;
    }

    br {
        display: none;
    }

    input,
    textarea,
    select {
        padding: 0.5rem 1rem;
        border-radius: 0.75rem;
        border: 1px solid $aqua;
        background: #f5f6fa;
        width: 100%;
        box-sizing: border-box;
        transition: all 0.1s ease-in-out;

        &:focus {
            background: #f5f6fa;
            ;
        }
    }

    .wpcf7-not-valid-tip {
        padding: 0 1rem;
    }

    textarea {
        height: 4rem;
    }

    select {
        background-image: url("/wp-content/uploads/2022/02/arrow_down.svg");
        background-repeat: no-repeat !important;
        background-position: center right !important;
        appearance: none;
        background-position-x: 98% !important;
    }

    .form-field {
        margin-bottom: 1.5rem;

        .h5 {
            padding: 0 1rem;
            margin-bottom: 0.75rem;
        }

        &.submit {
            text-align: center;

            input {
                width: 50%;
                background: $aqua;
                color: #fff;
                font-weight: 500;
                text-transform: uppercase;
            }
        }

        &.required {
            .h5::after {
                content: '*';
                display: inline-block;
                color: #fe4747;
                margin-left: 5px;
            }
        }

        p,
        ol {
            margin: 0 0 0.5rem;
            font-size: 0.85rem;
        }

        .add-text {
            padding: 0 1rem;
        }

        p:not(.add-text) {
            padding: 0 1rem;
            font-weight: 500;

            * {
                display: flex;
                width: 100%;
                margin: 0;
            }

            span {
                align-items: center;
            }

            input {
                width: auto;
                margin-right: 7px;
            }
        }
    }
}

.woocommerce form .form-row .required {
    color: #fe4747;
}

.edit-account {
    @media (max-width: 768px) {
        padding: 0 0.5rem;
    }

    input {
        padding: 0.5rem 1rem;
        border-radius: 0.75rem;
        border: 1px solid $aqua;
        background: #f5f6fa;
        width: 100%;
        box-sizing: border-box;
        transition: all 0.1s ease-in-out;

        &:focus {
            background: #f5f6fa;
        }
    }

    label {
        padding: 0 1rem;
        margin-bottom: 0.75rem;
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.25rem !important;
    }

    em {
        padding: 0 1rem;
    }

    fieldset {
        margin: 2rem 0;
        border-color: $aqua;
    }

    legend {
        font-weight: 600;
        color: $aqua;
        font-size: 1.5rem;
    }

    button[type="submit"] {
        width: 50%;
        background: $aqua;
        color: #fff;
        font-weight: 500;
        text-transform: uppercase;
        border-radius: 0.75rem;
        display: block;
        margin: auto;
    }
}