/* * ABOUT US SECTION * */
.about-us {
  .h2 {
    text-align: center;
  }
  .h2::after {
    content: "";
    display: block;
    background-color: $aqua;
    width: 9.4rem;
    height: 2px;
    margin: 1rem auto 3rem;
  }
  .h3 {
    text-align: center;
    padding: 2rem 4rem;
    margin: auto;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0 0;
  }
  &__item .h3 {
    background: #ffffff;
    box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    font-size: 1.3rem;
    line-height: 1.8rem;
    text-align: left;
    padding: 1rem 3rem;
    margin-top: 4.8rem;
  }
  &__img {
    flex: 0 0 30%;
    z-index: 100;
  }
  &__img img {
    width: 100%;
    height: auto;
  }
  &__text {
    flex: 0 0 50%;
    margin-left: -2rem;
  }
  .second {
    margin-left: 0;
    margin-right: -2rem;
  }
  &__subtitle {
    font-style: italic;
    font-size: 1rem;
    line-height: 1.3rem;
    color: #000;
    padding: 1.5rem 0.5rem;
  }
  .second .about-us__subtitle {
    text-align: end;
  }
}
