/* * ADVANTAGES SECTION * */
.advantages {
  .h2 {
    text-align: center;
  }
  .h2::after {
    content: "";
    display: block;
    background-color: $aqua;
    width: 15.3rem;
    height: 2px;
    margin: 1rem auto 3rem;
  }
  &__text-column {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
  }
  &__text-column:nth-child(7) {
    margin: 0 auto 0;
  }
  &__title {
    display: flex;
    align-items: center;
  }
  &__title .h3 {
    font-weight: 600;
  }
  &__icon {
    display: flex;
    flex: 0 0 3.6rem;
    height: 3.6rem;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;
  }
  &__icon img {
    width: 100%;
  }
  &__text-column p {
    max-width: 18.5rem;
    font-size: 1.1rem;
    line-height: 1.57rem;
    padding-left: 5.1rem;
    margin-top: 1rem;
  }
}
